body {
  font-family: "Roboto", sans-serif;
  background-color: #E5E5E5;
}

* {
  box-sizing: border-box;
}


p, .textoImagem {
  word-break: break-all;
}

.top-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 69px;
  width: 100%;
  
  background-color: #ec362d;
  position: fixed;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
  z-index: 1;
}
  
h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 43px;
  color: #ffffff;
}

h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #b9b9b9;
 
  margin: 15px auto;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 69px;
  background: #FAFAFA;
}
  
.meusQuizzes-container-vazio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  width: 1051px;
  height: 181px;
  margin-top: 77px;
  
  border-radius: 15px;
  
  border-width: thin;
  border-style: dashed;
  border-color: #b9b9b9;
  background-color: #fafafa;
}
.meusQuizzes-container{

  width: 1051px;
  height: auto;
  margin-top: 77px;
  
  background-color:#FAFAFA;
  
  
}
  
.buttonCriar {
  margin-top: 10px;
  
  width: 151px;
  height: 40px;
 
  background: #fafafa;
  border: 1px dashed #ec362d;
  
  border-radius: 50px;
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  
  color: #ec362d;
}
  
h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  font-weight: 900;
  font-size: 22px;
}
  
.todosQuizzes-container {
  width: 1051px;
  height: auto;
  margin-top: 77px;
  
  background-color:#FAFAFA;
  
}

.quizzesFundo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  width: 1050px;
  height: auto;
  background-color: #FAFAFA;
  margin-top: 20px;
}
  
.quizzes {
  margin-bottom: 15px;
  width: 340px;
  height: 181px;


}
.quizzes img{
  position: absolute;
  height: 181px;
  width: 340px;
  background-color: transparent;
  background-image: linear-gradient(to top, black, transparent) ; 
  border-radius: 5px;
}
.gradiente{
  position: absolute;
  width: 340px;
  height: 181px;

  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.1%, #000000 100%), url(image.png);
  border-radius: 5px;
}
.textoImagem {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 310px;
  position: relative;
  margin-top: 140px;
  margin-left: 15px;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 22px;
display: flex;
align-items: center;

color: #FFFFFF;

}

.criar-quizz {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #000000;
  font-weight: 900;
  font-size: 22px;

}

.criar-quizz ion-icon{
  margin-left: 10px;
  font-size: 35px;
  color:#EC362D
 
}

.container-tela3-4 {
  
  width: 100vw;
  height: 100vh;
  margin-top: 77px;
  
  background-color:#FAFAFA;
  
  display: flex;
  align-items: center;
 
  flex-direction: column;

}

.botao-tela{
  margin-top: 30px;
  width: 220.32px;
  height: 44px;

  
  background: #EC362D;
  border-radius: 15px;
  
}

h4 {
  margin-top: 71px;
  margin-bottom: 46px;
width: 230px;
height: 27px;


font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 27px;

display: flex;
align-items: center;

color: #000000;

}

.quizzes-finalizacao {
  width: 500px;
  height: 266px;
  margin-bottom: 60px;
  
}
.quizzes-finalizacao img{
  position: absolute;

  width: 500px;
  height: 266px;

  background-color: transparent;
  background-image: linear-gradient(to top, black, transparent) ; 
  border-radius: 5px;
}

.gradiente-finalizacao {
  position: absolute;
  width: 500px;
  height: 266px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.1%, #000000 100%) ;
  border-radius: 5px;
}

.textoImagem-finalizacao{
margin-top: 190px;
margin-left: 15px;
position: relative;
width: 100%;
height: 54px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 27px;
display: flex;
align-items: center;

color: #FFFFFF;
}
  /* O que você tinha feito até aqui */


.quiz-top-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 227px;
  position: absolute;
  top: 69px;
  left: 0;
}

.quiz-top-bar > img {
  width: 100%;
  height: 100%;
  position: absolute;    
}

.sobreporImagem {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: black;
}

.quiz-top-bar > p {
  position: relative;
  color: #ffffff;
  font-size: 40px;
  text-align: center;
}

.container-quiz {
  margin: 338px auto 0 auto;
  width: 760px;
  padding: 28px 35px 0 35px;
}

.resultado-quiz {
  margin: 0 auto 0 auto;
  width: 760px;
  padding: 28px 35px 10px 35px;
}

.quiz-top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz-top > p {
  font-size: 23px;
  font-weight: bold;
  color: white;
  padding: 20px 16px;
  text-align: center;
}

.resposta-quiz {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.resposta-quiz > p {
  font-size: 19px;
  font-weight: bold;
  margin: 0 0 0 20px;
}

.resposta-quiz img {
  width: 364px;
  height: 273px;
}

.espacamento {
  margin-bottom: 80px;
  background-color: white;
  padding: 10px;
}

.alter-quiz, .alter-quizOk  {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.alter-quiz p, .alter-quizOk p {
  margin: 15px 0;
  font-size: 20px;
  font-weight: bold;
}

.alter-quiz img, .alter-quizOk img {
  width: 330px;
  height: 175px;
}

.ajusteQuiz {
  width: 330px;
}

.opacidade-black {
  opacity: 60%;
}

.opacidade-white {
  opacity: 60%;
}

.selecionado {
  opacity: 1;
}

.botoes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px auto 0 auto;
}

.botao-reiniciar {
  width: 260px;
  height: 52px;
  border-radius: 15px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 21px;
}

.botao-home {
  margin-top: 20px;
  width: 220px;
  height: 44px;
  font-size: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #818181;
}

.tela2 .botao-home {
  margin: 0 auto 40px auto;
}

.verde {
  color: green;
}

.vermelho {
  color: red;
}

/* TELA 3 */

.container-tela3-1, .container-tela3-2, .container-tela3-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  margin: 140px auto 0 auto;
}

.container-tela3-1 p, .container-tela3-2 > p, .container-tela3-3 > p {
  font-size: 23px;
  font-weight: bold;
}

.container-tela3-2 > p, .container-tela3-3 > p {
  margin-bottom: 36px;
}

.input-tela3-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  margin: 27px auto 85px auto;
  padding: 15px 15px 0 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.input-tela3-1 input, .inputPerguntas input, .inputNiveis input {
  width: 100%;
  height: 46px;
  border: 1px solid #D1D1D1;
  border-radius: 5px;
  font-style: italic;
  font-size: 19px;
  outline: none;
  padding: 5px;
  margin: 0 0 15px 0;
}

.input-tela3-1 p, .erroP {
  color: red;
  font-size: 16px;
  margin: 0 0 10px 0;
}

.inputErro {
  background-color: #FFE9E9;
}

.botao-tela3-1, .botao-tela3-2, .botao-tela3-3, .botao-tela3-4{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EC362D;
  border-radius: 15px;
  width: 370px;
  height: 54px;
  color: white;
  font-size: 21px;
}

.rederizarPerguntas, .rederizarNiveis {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  padding: 15px;
}

.tituloPergunta, .tituloNivel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 24px;
  background-color: white;
  padding: 20px;
}

.inputPerguntas, .inputNiveis  {
  width: 100%;
  margin-bottom: 24px;
  background-color: white;
  padding: 20px;
  background-color: white;
}

.inputUrlEspac, .dentroPergunta {
  margin-bottom: 20px;
}

.tituloPergunta p, .tituloPergunta ion-icon, .dentroPergunta, .tituloNivel p, .tituloNivel ion-icon {
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.alternar, .alternarNiveis {
  width: 100%;
}


/* TELA 3 */

.escondido, .verificacao, .id-quiz {
  display: none;
}



@media screen and (max-width: 1100px) {
  .container-quiz, .resultado-quiz{
    width: 100%;
    padding: 0;
  }

  .espacamento, .resultado-quiz {
    padding: 10px;
  }

  .quiz-top > p, .quiz-top-bar > p{
    font-size: 19px;
  }

  .alter-quiz img, .alter-quizOk img {
    width: 163px;
    height: 112px;
  }

  .ajusteQuiz {
    width: 163px;
  }

  .alter-quiz p, .alter-quizOk p {
    font-size: 13px;
  }

  .resposta-quiz {
    flex-direction: column;
  }

  .resposta-quiz p {
    margin: 15px 0 0 0;
    word-wrap: break-word;
  }

  .resposta-quiz img {
    width: 100%;
    height: 255px;
  }

  .container-tela3-1, .container-tela3-2, .container-tela3-3, .rederizarPerguntas, .inputPerguntas, .rederizarPerguntas, .rederizarNiveis, .container-tela3-3, .meusQuizzes-container, .quizzesFundo, .todosQuizzes-container,.quizzes-finalizacao {
    width: 100%;
  }

  .container-tela3-1 > p, .container-tela3-2 > p, .container-tela3-3 > p, h4{
    font-size: 20px;
  }

  .botao-tela3-1, .botao-tela3-2, .botao-tela3-3, .botao-tela3-4 {
    width: 324px;
  }

  .meusQuizzes-container-vazio {
    width: 340px;
    display: flex;
    justify-content: space-between;
  }

  .criar-quizz{
    display: flex;
    justify-content: space-between;
    width: 100%
  }
  .quizzes{
    display: flex;
    flex-direction: column;
  }
.quizzesFundo {
  flex-direction: column;
}

.quizzes{
  margin: 0 auto 15px auto;
}
.criar-quizz {
   padding: 0 10px;
}

.quizzes-finalizacao > img, .quizzes-finalizacao, .gradiente-finalizacao, .textoImagem-finalizacao {
 width: 340px;
 height: 181px;
}
.escondido{
  display: none;
}
.quiz-top-bar > img, .sobreporImagem, .quiz-top-bar {
  height: 142px;
}
.quiz-top-bar > img{
  margin-left: 15px;
}

.container-quiz {
  margin: 250px auto 0 auto;
}
.espacamento {
  margin-bottom: 50px;

}
.textoImagem-finalizacao {
  width: 100%;
  height: 0px;
  margin-top: 140px;

  word-break: break-all;

}

}

/* tela2 */
